Data/.DS_Store
Data/Testing/glioma/Te-gl_0010.jpg
Data/Testing/glioma/Te-gl_0011.jpg
Data/Testing/glioma/Te-gl_0012.jpg
Data/Testing/glioma/Te-gl_0013.jpg
Data/Testing/glioma/Te-gl_0014.jpg
Data/Testing/glioma/Te-gl_0015.jpg
Data/Testing/glioma/Te-gl_0016.jpg
Data/Testing/glioma/Te-gl_0017.jpg
Data/Testing/glioma/Te-gl_0018.jpg
Data/Testing/glioma/Te-gl_0019.jpg
Data/Testing/glioma/Te-gl_0020.jpg
Data/Testing/glioma/Te-gl_0021.jpg
Data/Testing/glioma/Te-gl_0022.jpg
Data/Testing/glioma/Te-gl_0023.jpg
Data/Testing/glioma/Te-gl_0024.jpg
Data/Testing/glioma/Te-gl_0025.jpg
Data/Testing/glioma/Te-gl_0026.jpg
Data/Testing/glioma/Te-gl_0027.jpg
Data/Testing/glioma/Te-gl_0028.jpg
Data/Testing/glioma/Te-gl_0029.jpg
Data/Testing/glioma/Te-gl_0030.jpg
Data/Testing/glioma/Te-gl_0031.jpg
Data/Testing/glioma/Te-gl_0032.jpg
Data/Testing/glioma/Te-gl_0033.jpg
