addded stData/.DS_Store
Data/Testing/glioma/Te-gl_0010.jpg
Data/Testing/glioma/Te-gl_0011.jpg
Data/Testing/glioma/Te-gl_0012.jpg
Data/Testing/glioma/Te-gl_0013.jpg
Data/Testing/glioma/Te-gl_0014.jpg
Data/Testing/glioma/Te-gl_0015.jpg
Data/Testing/glioma/Te-gl_0016.jpg
Data/Testing/glioma/Te-gl_0017.jpg
Data/Testing/glioma/Te-gl_0018.jpg
Data/Testing/glioma/Te-gl_0019.jpg
Data/Testing/glioma/Te-gl_0020.jpg
Data/Testing/glioma/Te-gl_0021.jpg
Data/Testing/glioma/Te-gl_0022.jpg
Data/Testing/glioma/Te-gl_0023.jpg
Data/Testing/glioma/Te-gl_0024.jpg
Data/Testing/glioma/Te-gl_0025.jpg
Data/Testing/glioma/Te-gl_0026.jpg
Data/Testing/glioma/Te-gl_0027.jpg
Data/Testing/glioma/Te-gl_0028.jpg
Data/Testing/glioma/Te-gl_0029.jpg
Data/Testing/glioma/Te-gl_0030.jpg
Data/Testing/glioma/Te-gl_0031.jpg
Data/Testing/glioma/Te-gl_0032.jpg
Data/Testing/glioma/Te-gl_0033.jpg
Data/Testing/glioma/Te-gl_0034.jpg
Data/Testing/glioma/Te-gl_0035.jpg
Data/Testing/glioma/Te-gl_0036.jpg
Data/Testing/glioma/Te-gl_0037.jpg
Data/Testing/glioma/Te-gl_0038.jpg
Data/Testing/glioma/Te-gl_0039.jpg
Data/Testing/glioma/Te-gl_0040.jpg
Data/Testing/glioma/Te-gl_0041.jpg
Data/Testing/glioma/Te-gl_0042.jpg
Data/Testing/glioma/Te-gl_0043.jpg
Data/Testing/glioma/Te-gl_0044.jpg
Data/Testing/glioma/Te-gl_0045.jpg
Data/Testing/glioma/Te-gl_0046.jpg
Data/Testing/glioma/Te-gl_0047.jpg
Data/Testing/glioma/Te-gl_0048.jpg
Data/Testing/glioma/Te-gl_0049.jpg
Data/Testing/glioma/Te-gl_0050.jpg
Data/Testing/glioma/Te-gl_0051.jpg
Data/Testing/glioma/Te-gl_0052.jpg
Data/Testing/glioma/Te-gl_0053.jpg
Data/Testing/glioma/Te-gl_0054.jpg
Data/Testing/glioma/Te-gl_0055.jpg
Data/Testing/glioma/Te-gl_0056.jpg
Data/Testing/glioma/Te-gl_0057.jpg
Data/Testing/glioma/Te-gl_0058.jpg
Data/Testing/glioma/Te-gl_0059.jpg
Data/Testing/glioma/Te-gl_0060.jpg
Data/Testing/glioma/Te-gl_0061.jpg
Data/Testing/glioma/Te-gl_0062.jpg
Data/Testing/glioma/Te-gl_0063.jpg
Data/Testing/glioma/Te-gl_0064.jpg
Data/Testing/glioma/Te-gl_0065.jpg
Data/Testing/glioma/Te-gl_0066.jpg
Data/Testing/glioma/Te-gl_0067.jpg
Data/Testing/glioma/Te-gl_0068.jpg
Data/Testing/glioma/Te-gl_0069.jpg
Data/Testing/glioma/Te-gl_0070.jpg
Data/Testing/glioma/Te-gl_0071.jpg
Data/Testing/meningioma/Te-me_0145.jpg
Data/Testing/glioma/Te-gl_0072.jpg
Data/Testing/glioma/Te-gl_0068.jpg
Data/Testing/glioma/Te-gl_0073.jpg
Data/Testing/glioma/Te-gl_0074.jpg
Data/Testing/glioma/Te-gl_0069.jpg
Data/Testing/glioma/Te-gl_0070.jpg
Data/Testing/glioma/Te-gl_0075.jpg
Data/Testing/glioma/Te-gl_0071.jpg
Data/Testing/glioma/Te-gl_0076.jpg
Data/Training/pituitary/Tr-pi_1450.jpg
Data/Training/pituitary/Tr-pi_1451.jpg
Data/Training/pituitary/Tr-pi_1452.jpg
Data/Training/pituitary/Tr-pi_1453.jpg
Data/Training/pituitary/Tr-pi_1454.jpg
Data/Training/pituitary/Tr-pi_1455.jpg
Data/Training/pituitary/Tr-pi_1456.jpg
Data/Training/pituitary/Tr-piTr_0000.jpg
Data/Training/pituitary/Tr-piTr_0001.jpg
Data/Training/pituitary/Tr-piTr_0002.jpg
Data/Training/pituitary/Tr-piTr_0003.jpg
Data/Training/pituitary/Tr-piTr_0004.jpg
Data/Training/pituitary/Tr-piTr_0005.jpg
Data/Training/pituitary/Tr-piTr_0006.jpg
